/* styles/styles.css */

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  width: 100%;
  top: 0px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  text-align: right;
}

header img {
  height: 50px;
  width: auto;
  position: absolute;
  left: 10px;
}

header li {
  margin-right: 20px;
  display: inline-block;
  text-align: left;
}

header li a {
  color: seashell;
}

#mission {
  margin-top: 70px;
}
