/* styles/styles.css */

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* styling of the header and navigation bar */
header {
  height: 69px;
  width: 100%;
  top: 0px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  text-align: right;
  z-index: 7;
}

header img {
  height: 50px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}

header li {
  margin-right: 20px;
  display: inline-block;
  text-align: left;
}

header li a {
  color: seashell;
}

/* styling of the mission statement */
#mission {
  margin: 70px auto;
  background-image: url(../images/mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  height: 700px;
}

#mission div {
  background-color: black;
  position: relative;
  top: 40%;
  width: 1200px;
  height: 103px;
  text-align: center;
}

#mission div h2 {
  padding-top: 3px;
}

/* styling of the featured items */
#featured {
  width: 1000px;
  margin: auto;
}

.flex-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
  padding: 5px;
}

.item img {
  width: 300px;
  height: 200px;
}

.item h4 {
  margin-top: 10px;
}

/* styling of the locations */
